@model TechEvent.Domain.Entities.Speaker

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Details about @Model.FullName</h4>
    <hr />
    <div class="col-md-10 offset-1 col-sm-12 text-center">

        <div class="container">
            <a href="@Model.Website">
                <img class="img-fluid img-thumbnail" style="max-height:300px" src="@Url.Action("GetImage","Speakers",new { Id = Model.Id })" alt="No picture to show" />
            </a>
        </div>

        <p>@Model.Position</p>
        <div>
            <a href="@Model.CompanyName">@Model.CompanyName</a>
        </div>
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
        <hr />
        <div class="usefulLinks">
            <a href="@Model.LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            @if (Model.Facebook != null)
            {
                <a href="@Model.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            }
            <a href="mailto:@Model.Email"><i class="far fa-envelope"></i></a>
            @if (Model.Skype != null)
            {
                <a href="@Model.Skype" target="_blank"><i class="fab fa-skype"></i></a>
            }
            <a href="@Model.GitHub" target="_blank"><i class="fab fa-github-square"></i></a>
            @if (Model.Twitter != null)
            {
                <a href="@Model.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            }
        </div>

        <hr />

        <div>
            @if (Model.Talks.Count > 0)
            {
                <p>List of Talks presented by @Model.FullName :</p>
                @foreach (var talk in Model.Talks)
                {
                    <div>
                        <a asp-controller="Talks" asp-action="Details" asp-route-id="@talk.Id">@talk.Name</a>
                    </div>
                }
            }
        </div>
    </div>
</div>
