@model TechEvent.Domain.Entities.Sponsor

@{
    ViewData["Title"] = "Details";
}



<div>
    <div class="card">

        <div class="card-header">
            <h2>@Model.Name</h2>
        </div>
        <div class="card-body">
            <div class="img-thumbnail">
                <a href="@Model.Website">
                    <img class="img-fluid" src="@Url.Action("GetImage", "Sponsors", new { Id = Model.Id })" alt="No picture to show" />
                </a>
            </div>

            <p>Useful links:</p>
            <p class="display-label">Website: <a href="@Model.Website">@Model.Website</a></p>
            @if (Model.Facebook != null)
            {
                <p class="display-label">Facebook: <a href="@Model.Facebook">@Model.Facebook</a></p>
            }
            <p>@Model.SponsorType.Name type sponsor</p>
            <p>@Model.Description</p>
            <p>In this moment, the sponsor is @(Model.Active ? "active" : "inactiv")</p>

        </div>
        <div class="card-footer">
            @if (ViewBag.AllowToEdit)
            {
                <span>
                    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-year=@ViewBag.Year>Edit</a> |
                    <a asp-action="Index" asp-route-id="@Model.Id" asp-route-year=@ViewBag.Year>Back to List</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-year=@ViewBag.Year>Delete</a>
                </span>
            }
            else
            {
                <a asp-action="Index" asp-route-year=@ViewBag.Year>Back to List</a>
            }
        </div>
    </div>
</div>

